@import 'variables';

// HOme
.card {
    position: relative;
}

//card header
.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

.header-user-link {
    width: 10%;
}

.header-user-image {
    background-color: #5fc198;
}

.header-user-information {
    width: 30%;
    justify-content: center;
}

//card body
.body-post-main-wrapp-img,
.body-post-main-img {
    width: 100%;
}

//card footer
.card-footer {
    // position: absolute;
    // overflow: hidden;
    margin: 0 12px;
}

.footer-comment {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer-comment-input {
    border: 0;
    outline: 0;
    flex: 1;
    margin-left: 4px;
    color: #6c757d;
}

