<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 Education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto "> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="user-avatar" src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/314593655_1173633703255724_7914186868620165292_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hXqmp0NYeHQAX9qQDKT&tn=W_a8ura0iM2ftaYK&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfB1-F8lmO2EA8Pc5ChbG7fZRanO_ll5aefM0KJNa7mIhw&oe=63754585" alt="">
            HungTS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng ký khoá học</a></li>  
            <li><a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li> 
      </ul> 
    </div>
  </div>
</nav>