<div class="mt-3">
    <div class="row"> 
        <div class="col-3">
            <div class="news"></div>
        </div>
        <div class="col-sm-6 col-lg-6 mb-2">
        {{!-- {{#each courses}} --}}
            <div class="card">
                 <div class="card-header">
                    <div class="card-header-user"> 
                        <a href="" class="header-user-link">
                            <img class="header-user-image" src="" alt="">
                        </a>
                        <div class="header-user-information">

                        </div> 
                    </div>
                    <div class="header-title">

                    </div>
                 </div>
                 <div class="card-body">
                    <div class="card-body-content">

                    </div>
                 </div>
                 <div class="card-footer row">
                    <div class="footer-react col-1">
                        <a href="" class="footer-react-icon prevent-behavior">
                            <i class="fa-regular fa-heart"></i>
                            {{!-- <i class="fa-solid fa-heart"></i> --}}
                        </a>
                    </div>
                    <div class="footer-share col-1">
                        <a href="" class="footer-share-icon prevent-behavior">
                            <i class="fa-regular fa-share-from-square"></i> 
                        </a>
                    </div>
                    <form method="POST" action="/" class="footer-comment d-flex align-items-center col">  
                        <div>
                            <label for="comment-inp">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </label>
                            <input  type="text" name="" id="comment-inp" class="footer-comment-input">  
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                 </div>
            </div>
        {{!-- {{/each}} --}}
        </div>
        <div class="col-3">
            <div class="community">
                
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded',() => {   
        $('.prevent-behavior').click(function(e) {
            e.preventDefault() 
        })
    })
</script>