<div class="search-form">
    <form  method="POST" action="" class="row g-3 mt-3">
    <div class="col-12">
        <label for="staticEmail2" class="">Tìm kiếm</label>
        <input type="text" name="q" class="form-control" id="staticEmail2" placeholder="Nhập từ khoá">
    </div> 
    <div class="col-12">
        <button type="submit" class="btn btn-primary mb-3">Tìm kiếm</button>
    </div>
    </form>
</div>